@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply h-full w-full;
}

main {
  @apply max-[639px]:min-h-min max-[639px]:min-h-screen  sm:min-h-screen lg:h-screen sm:w-full  flex  items-center flex-col space-y-4 pb-3 bg-red-200;
}

section {
  @apply flex flex-col items-center max-[639px]:min-h-min max-[639px]:min-w-min bg-red-200 h-full space-y-10 w-screen;
}

article {
  @apply h-[90%] flex flex-col;
}

.app-wrapper {
  @apply h-full;
}

.child {
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 20px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}

.submit {
  @apply bg-white;
}

form {
  @apply h-auto max-[639px]:w-[90%] sm:w-[60%] pb-10;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}

article {
  @apply max-[639px]:w-[90%] sm:w-[50%] pb-10;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}

.redirect-onboarding {
  @apply mt-3 hover:cursor-pointer text-base font-semibold;
}

.onboarding-heading {
  @apply w-full flex items-center flex-col;
}

.onboarding-heading h1 {
  @apply font-bold max-[639px]:text-[1.3rem] sm:text-[2rem] max-[639px]:mx-auto;
}

.onboarding-heading p {
  font-size: 1.2rem;
  color: hsl(0, 0%, 50%);
}

.error {
  @apply text-red-700 font-bold;
}

.search {
  @apply flex w-full items-center space-x-3;
}

.search-box {
  width: 85%;
}

.magnifying-glass {
  @apply hover:cursor-pointer bg-white p-3 rounded-lg;
}

header {
  @apply bg-[#fffff0] flex justify-between w-full py-2;
}

header h1 {
  @apply font-semibold text-lg;
}

header button {
  @apply bg-red-300 text-white font-semibold rounded-lg
  p-4 sm:flex;
}

.ham {
  @apply text-[2.4rem] hover:cursor-pointer;
}

.top-info {
  @apply flex flex-col max-[639px]:items-center max-[639px]:space-y-5 sm:space-y-6 mt-5;
}

.city-icon {
  @apply flex max-[639px]:flex-col justify-between;
}

.city-name {
  @apply text-3xl font-bold;
}

.humidity {
  @apply text-xl font-bold;
}

.humidity span {
  @apply font-light;
}

.temp {
  @apply font-bold text-2xl;
}
